---
---

@import "{{ site.theme }}";

.resume-subtitle {
    font-style: italic;
    margin-top: -14px;
    font-size: 1.1em;
    font-weight: 200;
}

// School/company/project name heading
.resume-subheading {
    font-size: 1.3em;
    font-weight: 400;
    margin-top: -10px;
}

// "Education", "Research Projects", etc
.resume-heading {
    font-size: 1.6em;
    font-weight: 350;
}
.resume-paragraph {
    margin-top: -13px;
}
